{% extends '@SyliusAdmin/layout.html.twig' %}

{% block title %}{{ 'maintenance.ui.title'|trans }} {{ parent() }}{% endblock %}

{% form_theme form '@SyliusAdmin/Form/theme.html.twig' %}

{% import '@SyliusAdmin/Macro/breadcrumb.html.twig' as breadcrumb %}
{% set breadcrumbs = [
	{label: 'sylius.ui.administration'|trans, url: path('sylius_admin_dashboard')},
	{label: 'maintenance.ui.title'|trans},
]
%}

{% block content %}
	<div id="header" class="ui stackable two column grid">
		<div class="column">
		<h1 class="ui header">
			<i class="circular cube icon"></i>
			<span class="content">
				<span>{{ 'maintenance.ui.title'|trans }}</span>
				<span class="sub header">{{ 'maintenance.ui.subtitle'|trans }}</span>
			</span>
		</h1>
		{{ breadcrumb.crumble(breadcrumbs) }}
		</div>
	</div>
	<div class="ui segment">
		{{ form_start(form, {'attr': {'class': 'ui loadable form', 'novalidate': 'novalidate'}}) }}
		<div class="two fields">
			{{ form_row(form.enabled) }}
			{% if form.channels is defined %}
				{{ form_row(form.channels) }}
			{% endif %}
		</div>
		<div class="two fields">
			{{ form_row(form.ipAddresses) }}
			<div class="field">
				<div style="margin-bottom: 0.5em">{{ 'maintenance.ui.form.token_storage.help'|trans }}</div>
				<a class="ui secondary button" href="{{ path('sylius_admin_maintenance_token_storage') }}">{{ 'maintenance.ui.form.token_storage.button'|trans }}</a>
                {% if maintenanceConfiguration.enabled and maintenanceConfiguration.token is defined and maintenanceConfiguration.token is not empty %}
                    <kbd>{{ maintenanceConfiguration.token }}</kbd>
                {% endif %}
			</div>
		</div>
		{{ form_row(form.customMessage) }}
		<div class="two fields">
			{{ form_row(form.startDate) }}
			{{ form_row(form.endDate) }}
		</div>
		{{ form_row(form.allowBots) }}
		{{ form_row(form.allowAdmins) }}
		{% include '@SyliusUi/Form/Buttons/_update.html.twig' %}
		{{ form_end(form) }}
	</div>
{% endblock %}
